@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.App {
  min-height: 100vh;
  margin: 0 8%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}